/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

table.table-hover tr {
  cursor: pointer;
}

button:hover  {
  cursor: pointer;
}

/*
 * Typography
 */

 .text-dark-grey-1  {
  color: #263238;
}

.text-dark-grey-2  {
  color: #455A64;
}

.text-dark-grey-3  {
  color: #90A4AE;
}

.text-dark-grey-4  {
  color: #CFD8DC;
}

/*
  Colors
*/

.bg-dark-grey-1  {
  background: #263238;
}

.bg-dark-grey-2  {
  background: #455A64;
}

.bg-dark-grey-3  {
  background: #90A4AE;
}

.bg-dark-grey-4  {
  background: #CFD8DC;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Dashboard Panels */
.dash-panel-container {
}

.dash-panel   {
  background: grey;
  height: 150px;
}

.panel-1  {
  background: #2ecc71;
}

.panel-2  {
  background: #f1c40f;
}

.panel-3  {
  background: #3498db;
}

.panel-4  {
  background: #e74c3c;
}

.dash-range-link  {
  text-decoration: none;
}

.dash-range-link:hover  {
  text-decoration: none;
}

/* Login Page */

.login-container  {
  background: white;
}

/* Add User Page */

.add-user-form-cont {
  background: #ECF0F1;
}

